DATABASE_URL=
JWT_SECRET=
GITHUB_WEBHOOK_SECRET=
RESEND_API_KEY=
EMAIL_FROM=
RECAPTCHA_SECRET_KEY=
SONARQUBE_WEBHOOK_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
VITE_SOCKET_URL=
TIMEZONE=Asia/Ho_Chi_Minh